<!DOCTYPE html>
{% load render_table from django_tables2 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Rest Client </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />

    <style>
        .table {
            width: 50%;
        }

        td, th {
            text-align: center;
        }
    </style>

</head>
<body>
    <center>
        {% render_table table %}

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Submit" />
        </form>

    </center>
</body>
</html>